<ActionBar title="Dessin et partage" nsRouterLink="/">
  <NavigationButton text="Accueil" android.systemIcon="ic_menu_back" nsRouterLink="/"></NavigationButton>
</ActionBar>

<GridLayout rows="auto,*,auto" columns="*,*" backgroundColor="lightgray">

  <label col="0" row="0" colSpan="2" text="Réalisez votre dessein ci-dessous, puis partagez-le à l'aide du bouton en bas de la page."
    textWrap="true" class="pad-x">
  </label>

  <DrawingPad col="0" row="1" colSpan="2" #DrawingPad id="drawingPad" penColor="#ff4081" penWidth="3">
  </DrawingPad>

  <StackLayout col="0" row="2" columns="*" rows="*,*" class="pad-x">
    <Button col="0" row="1" height="50%" text="Partager" (tap)="getMyDrawing()"></Button>
  </StackLayout>

  <StackLayout col="1" row="2" columns="*" rows="*,*" class="pad-x">
    <Button col="0" row="1" height="50%" text="Effacer" (tap)="clearMyDrawing()"></Button>
  </StackLayout>

</GridLayout>