<ActionBar title="Informations"nsRouterLink="/">
  <NavigationButton text="Accueil"android.systemIcon="ic_menu_back"nsRouterLink="/"></NavigationButton>
</ActionBar>

<GridLayout rows="*"columns="*, *">

  <StackLayout col="0"row="0" *ngIf="deviceInfo" class="pad-x">
    <label textWrap="true" text="Général" textTransform="uppercase" textDecoration="underline"></label>
    <label textWrap="true" text="Free memory : {{ deviceInfo.freeMemory }} "></label>
    <label textWrap="true" text="Total memory : {{ deviceInfo.totalMemory }} "></label>
    <label textWrap="true" text="Total storage space : {{ deviceInfo.totalStorageSpace }} "></label>
    <label textWrap="true" text="Free storage space : {{ deviceInfo.freeStorageSpace }} "></label>
    <label textWrap="true" text="Device id : {{ deviceInfo.deviceId }} "></label>
    <label textWrap="true" text="Device name : {{ deviceInfo.deviceName }} "></label>
    <label textWrap="true" text="Device locale : {{ deviceInfo.deviceLocale }} "></label>
    <label textWrap="true" text="Device country : {{ deviceInfo.deviceCountry }} "></label>
    <label textWrap="true" text="Device timezone : {{ deviceInfo.timezone }} "></label>
    <label textWrap="true" text="Device user agent : {{ deviceInfo.userAgent }} "></label>
    <label textWrap="true" text="App name : {{ deviceInfo.appName }} "></label>
    <label textWrap="true" text="App version : {{ deviceInfo.appVersion }} "></label>
    <label textWrap="true" text="App bundle id : {{ deviceInfo.bundleId }} "></label>
    <label textWrap="true" text="App bundle number : {{ deviceInfo.bundleNumber }} "></label>
    <label textWrap="true" text="System manufacturer : {{ deviceInfo.systemManufacturer }} "></label>
    <label textWrap="true" text="Battery level : {{ deviceInfo.batteryLevel }} "></label>
    <label textWrap="true" text="Storage paths : {{ deviceInfo.externalStoragePaths }} "></label>
    <label textWrap="true" text="WiFi SSID : {{ deviceInfo.wifiSSID }} "></label>
    <label textWrap="true" text="Is portrait orientation : {{ deviceInfo.isPortrait }} "></label>
    <label textWrap="true" text="Is tablet : {{ deviceInfo.isTablet }} "></label>
    <label textWrap="true" text="Is 24 hour : {{ deviceInfo.is24Hour }} "></label>
    <label textWrap="true" text="Is emulator : {{ deviceInfo.isEmulator }} "></label>
    <label textWrap="true" text="Is battery charing : {{ deviceInfo.isBatteryCharging }} "></label>
  </StackLayout>

  <StackLayout col="1"row="0" *ngIf="geoloc && meteo" class="pad-x">
    <label textWrap="true" text="Géolocalisaion" textTransform="uppercase" textDecoration="underline"></label>
    <label textWrap="true" text="Latitude : {{ geoloc.latitude }} "></label>
    <label textWrap="true" text="Longitude : {{ geoloc.longitude }} "></label>
    <label textWrap="true" text="Total memory : {{ geoloc.altitude }} "></label>
    <label textWrap="true" text="Précision horizontale : {{ geoloc.horizontalAccuracy }} "></label>
    <label textWrap="true" text="Précision verticale : {{ geoloc.verticalAccuracy }} "></label>
    <label textWrap="true" text="Vitesse : {{ geoloc.speed }} "></label>
    <label textWrap="true" text="Direction : {{ geoloc.direction }} "></label>
    <label textWrap="true" text="Heure : {{ geoloc.timestamp }} "></label>
    <label text=" "></label>
    <label textWrap="true" text="Météo" textTransform="uppercase" textDecoration="underline"></label>
    <label textWrap="true" text="Ville : {{ meteo.name }}"></label>
    <label textWrap="true" text="Pays : {{ meteo.country }}"></label>
    <label textWrap="true" text="Température : {{ meteo.temp }}°"></label>
    <label textWrap="true" text="Maximale : {{ meteo.temp_max }}°"></label>
    <label textWrap="true" text="Minimale : {{ meteo.temp_min }}°"></label>
    <label textWrap="true" text="Ressenti : {{ meteo.feels_like }}°"></label>
    <label textWrap="true" text="Vent : {{ meteo.wind }}km/h"></label>
    <label textWrap="true" text="Pression : {{ meteo.pressure }}mmHg"></label>
    <label textWrap="true" text="Humidité : {{ meteo.humidity }}% "></label>
    <label textWrap="true" text="Pression : {{ meteo.pressure }} "></label>
    <image [src]="meteo.icon" [title]="meteo.description" [alt]="meteo.description"></image>
  </StackLayout>

</GridLayout>