<ActionBar title="Réalité augmentée" (tap)="backHome()">
  <NavigationButton text="Accueil" android.systemIcon="ic_menu_back" (tap)="backHome()"></NavigationButton>
</ActionBar>

<GridLayout rows="*, 80" columns="*, *, *, *, *, *">

  <!-- Panneau de paramètres -->
  <StackLayout #myUIView>
    <Label text="Taille" horizontalAlignment="center"></Label>
    <Slider width="100%" value="0" minValue="-100" maxValue="100" horizontalAlignment="center" (valueChange)="onSizeChanged($event)"></Slider>
    <Label text="Rotation" horizontalAlignment="center"></Label>
    <StackLayout orientation="horizontal" horizontalAlignment="center">
      <Button text="Gauche" (tap)="onRotateClicked(true)"></Button>
      <Button text="Droite" (tap)="onRotateClicked(false)"></Button>
    </StackLayout>
  </StackLayout>

  <!-- Scène AR -->
  <AR row="0" col="0" colSpan="6" #ar
    debugLevel="FEATURE_POINTS"
    detectPlanes="true"
    (arLoaded)="arLoaded($event)"
    (planeTapped)="onPlaneTapped($event)">
  </AR>

  <!-- Indicateur d'activité -->
  <ActivityIndicator [busy]="isBusy" row="1" colSpan="6"></ActivityIndicator>

  <!-- Boutons de sélection de modèle -->
  <ng-container *ngIf="!isBusy">
    <Image *ngFor="let item of this.models3d ; let i = index"
      [ngClass]="{'model3dSelected' : item.selected}"
      [src]="'~/assets/img/' + item.name + '.png'"
      row="1" [col]="i" stretch="aspectFill"
      (tap)="onModel3dSelected(item)">
    </Image>
  </ng-container>

</GridLayout>