<ActionBar title="Démo NativeScript"></ActionBar>

<GridLayout columns="*,*" rows="*,auto,*,*" backgroundColor="lightgray">

  <Image col="0" row="0" colSpan="2" src="~/assets/img/cfdbourges.jpg" stretch="aspectFill"></Image>
  <Label col="0" row="1" colSpan="2" textWrap="true"
    text="Démonstrateur technique de la technologie NativeScript, réalisé par Alexandre Ruiz dans le cadre de la formation pratique du cours probatoire
    TSO5Bis par le CFD de Bourges (2022) au profit du CDAD de Toulon.">
  </Label> 

  <GridLayout col="0" row="2" columns="*" rows="*,*,*,*" class="pad-x" backgroundColor="#ff9696">
    <label col="0" row="1" text="Réalité augmentée" textWrap="true" textAlignment="center"></label>
    <Button col="0" row="2" height="50%" text="Lancer !" nsRouterLink="/ar"></Button>
  </GridLayout>

  <GridLayout col="1" row="2" columns="*" rows="*,*,*,*" class="pad-x" backgroundColor="#00d60e">
    <label col="0" row="1" text="Reconnaissance vocale" textWrap="true" textAlignment="center"></label>
    <Button col="0" row="2" height="50%" text="Lancer !" nsRouterLink="/sr"></Button>
  </GridLayout>

  <GridLayout col="0" row="3" columns="*" rows="*,*,*,*" class="pad-x" backgroundColor="#c6cfff">
    <label col="0" row="1" text="Dessin et partage" textWrap="true" textAlignment="center"></label>
    <Button col="0" row="2" height="50%" text="Lancer !" nsRouterLink="/bs"></Button>
  </GridLayout>

  <GridLayout col="1" row="3" columns="*" rows="*,*,*,*" class="pad-x" backgroundColor="#a4ba03">
    <label col="0" row="1" text="Informations" textWrap="true" textAlignment="center"></label>
    <Button col="0" row="2" height="50%" text="Lancer !" nsRouterLink="/info"></Button>
  </GridLayout>

</GridLayout>