<ActionBar title="Reconnaissance vocale" nsRouterLink="/">
  <NavigationButton text="Accueil" android.systemIcon="ic_menu_back" nsRouterLink="/"></NavigationButton>
</ActionBar>

<GridLayout columns="*,*" rows="*,auto" backgroundColor="lightgray">

  <StackLayout col="0" row="0" colSpan="2" columns="*" rows="*" class="pad-x">
    <TextView hint="Entrer un texte" style="height: 100%;" secure="false" returnKeyType="done" autocorrect="true" text="Texte de démonstration" #textField>
    </TextView>
  </StackLayout>

  <StackLayout col="0" row="1" columns="*" rows="*,*" class="pad-x">
    <!-- <label col="0" row="0" text="Diction" textWrap="true" textAlignment="center"></label> -->
    <Button col="0" row="1" height="50%" text="Dire !" (tap)="speak()"></Button>
  </StackLayout>

  <StackLayout col="1" row="1" columns="*" rows="*,*" class="pad-x">
    <!-- <label col="0" row="0" text="Reconnaissance" textWrap="true" textAlignment="center"></label> -->
    <Button col="0" row="1" height="50%" text="Ecouter !" (tap)="listen()"></Button>
  </StackLayout>

</GridLayout>